* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body,
html {
    background-image: url('/img_application/background-admin.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: blue;
}

.sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    background-image: linear-gradient(white, aqua);
    border-right: 2px solid blue;
}

.sidebar header {
    color: blue;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px;
    height: 200px;
}

.img_slide {
    margin-bottom: 10px;
}

.sidebar ul {
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
    position: relative;
    color: blue;
    text-decoration: none;
    font-size: 16px;
    padding-left: 2px;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 65px;
    transition: .4s;
}

.sidebar ul li a:hover {
    color: #0091ea;
    padding-left: 20px;
}

.sidebar ul ul {
    position: relative;
    display: none;
    padding-left: 5px;
}

.sidebar ul .cust-show.show_cust {
    display: block;
}

.sidebar ul .adm-show.show_adm {
    display: block;
}

.sidebar ul .itm-show.show_itm {
    display: block;
}

.sidebar ul .mstr-show.show_mstr {
    display: block;
}

.sidebar ul ul li {
    line-height: 42px;
    border-bottom: none;
}

.sidebar ul ul li a {
    font-size: 14px;
    color: blue;
    margin-left: 10px;
}

.sidebar ul li a i {
    font-size: 18px;
    margin-right: 5px;
}

.sidebar ul li a .icon-dropdown {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-30%);
    font-size: 14px;
    transition: transform .4s;
}

.sidebar ul li a i.rotate {
    transform: translateY(-50%) rotate(90deg);
}

div.content {
    margin-top: 55px;
    margin-left: 220px;
    height: 100%;
    background-color: rgba(109, 192, 240, 0.5);
}

.content-login {
    height: 100%;
    background-color: rgba(109, 192, 240, 0.5);
}

.navbar {
    background-color: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 55px;
}

.navbar-brand {
    font-family: Brush Script MT;
    font-size: 28pt;
    font-weight: bold;
    background: linear-gradient(to right, white 0%, aqua 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1rem white);
}

nav ul a li {
    color: white;
}

.login-card {
    background: rgba(22, 155, 233, 0.5);
    width: 1000px;
    height: 600px;
    top: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background: rgba(206, 190, 45, 0.7);  */
}

.login-card .card-header {
    background-color: #0091ea;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-size: 20pt;
}

.master-card {
    height: 750px;
    top: 5px;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border-color: green;
    border-radius: 10px;
    background-color: rgba(127, 255, 0, 0.5);
}

.master-card .card-header {
    background-color: blue;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.show-card {
    height: 880px;
    top: 20px;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border-color: blue;
    border-radius: 10px;
    background-color: rgba(109, 192, 240, 0.5);
}

.show-card .card-header {
    background-color: blue;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.show-card .card-footer {
    background-color: transparent;
    color: blue;
    border: 0px;
    height: 55px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.show-card-type-item {
    width: 400px;
    height: 900px;
    top: 20px;
    bottom: 10px;
    right: 10px;
    border-color: #0091ea;
    border-radius: 10px;
}

.show-card-type-item .card-header {
    background-color: #0091ea;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.table-bordered {
    border: 1px solid blue;
}

th,
td,
p {
    color: blue;
}

.pagination>li>a {
    background-color: white;
    color: #5A4181;
}

.page-item .page-link {
    background-color: aqua;
    border: 1px solid blue;
    color: blue;
}

.page-item.active .page-link {
    color: #fff !important;
    background: blue !important;
}

.page-item.disabled .page-link {
    background-color: aqua;
    border: 1px solid blue;
    color: gray;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    height: 35px;
    color: red;
}

.container-fluid form label {
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
}

.container-fluid form .label-required::after {
    content: '(*)';
    margin-left: 4px;
    color: red;
}

.container-fluid form input {
    border: 2px solid blue;
    background-color: aqua;
}

.container-fluid form input:focus {
    border: 2px solid blue;
    background-color: aqua;
}

.container-fluid form select {
    border: 2px solid blue;
    background-color: aqua;
}

.container-fluid form textarea {
    border: 2px solid blue;
    background-color: aqua;
    height: 150px;
}

.container-fluid form textarea:focus {
    border: 2px solid blue;
    background-color: aqua;
    height: 100px;
}

.col-sm-3half,
.col-sm-8half {
    position: relative;
    min-height: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 800px) {
    .col-sm-3half,
    .col-sm-8half {
        float: left;
    }
    .col-sm-3half {
        width: 10.300%;
    }
    .col-sm-8half {
        width: 89.700000%;
    }
}

.title-page {
    color: blue;
    top: 5px;
    font-size: 25pt;
    font-weight: bold;
    text-shadow: 2px 2px 7px white;
}

.breadcrumb-nav {
    height: 40px;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.breadcrumb-nav ol p {
    font-size: 12pt;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 50px;
    color: blue;
    font-weight: bold;
}

.breadcrumb-nav ol li {
    margin-top: 5px;
    font-size: 12pt;
}

.breadcrumb-nav ol li a {
    margin-top: 5px;
    font-size: 12pt;
    color: blue;
}

.header-company {
    font-family: Brush Script MT;
    font-size: 40pt;
    text-align: center;
    margin-left: -50px;
    background: linear-gradient(to right, aqua 0%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
    font-weight: bold;
    filter: drop-shadow(0 0 0.75rem white);
}

.container form input {
    border: solid 3px blue;
    background-color: transparent;
    color: blue;
    width: 80%;
}

.container form input:focus {
    border: groove 2px blue;
    background-color: transparent;
    width: 80%;
}

.container form label {
    color: blue;
    font-family: sans-serif;
}

.container form button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
}

.form-select+.chosen-container-single .chosen-single {
    top: 1px;
    border: solid 3px green;
    background-color: greenyellow;
    color: green;
    height: 41px;
}

.form-select+.chosen-container-single .chosen-single div {
    background-color: transparent;
}

.form-select+.chosen-container-active.chosen-with-drop .chosen-single {
    border: solid 3px green;
    background-color: greenyellow;
    color: green;
    height: 41px;
}

.form-select+.chosen-container-active.chosen-with-drop .chosen-single div {
    background-color: transparent;
}

.btn-gradien {
    background-image: linear-gradient(to bottom right, #22cfe6, #149dec, blue);
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: solid 1px green;
}

.icon-member {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 80pt;
}

.icon-product {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 80pt;
}

.icon-transaction {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 80pt;
}

.modal-header {
    background-color: blue;
    border: none;
    color: white;
}

.modal-header .btn-close {
    color: white;
}

.modal-body {
    background-color: rgba(109, 192, 240, 0.5);
    border-top: 2px solid blue;
}

.title-detail-view {
    color: blue;
}

.text-danger {
    color: red;
}

.card-address {
    background-color: rgba(127, 255, 0, 0.5);
    border: 2px solid green;
    height: 300px;
    overflow-y: auto;
}

.card-detail-order {
    background-color: rgba(127, 255, 0, 0.5);
    border: 2px solid green;
    height: 500px;
    overflow-y: auto;
}

.table {
    border-bottom: 1px solid blue;
}

.table thead {
    border-bottom: 2px solid blue;
    background-color: blue;
}

.table thead th {
    color: white;
}

tr.noBorder td {
    border: 0;
}

.card_customer {
    background-color: #0091ea;
    border: solid 1px blue;
    color: white;
    min-height: 175px;
}

.card_customer .card-text {
    color: white;
}

.card_product {
    background-color: greenyellow;
    border: solid 1px green;
    color: green;
    min-height: 175px;
}

.card_order {
    background-color: greenyellow;
    border: solid 1px green;
    color: green;
}

.card_order .card-header {
    background-color: transparent;
    border: 0px;
}

.card_transaction {
    background-color: yellow;
    border: solid 1px orange;
    color: orange;
    min-height: 175px;
}

.card_transaction .card-text {
    color: orange;
}

.icon-retur {
    font-size: 4em;
}

.search {
    background-color: greenyellow;
}

.btn-search {
    top: 2px;
    width: 35px;
    height: 35px;
    left: -1px;
}